@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body{
    background-color:#181634;
}

.formHolder{
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
    background-color: #134B70;
    height: 30em;
    width: 30em;
    border-radius: 2em;
}

.head{
    font-family: Titillium Web;
    font-size: 40px;
    color: #EEEEEE;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 60px;
}


input{
    background-color: beige;
    color: black;
    border: none;
    outline: none;
    font-family: Titillium Web;
    width: 250px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px 25px;   
}

input::placeholder{
    color:#000000;
}


#submit{
    font-family: Titillium Web;
    width: 150px;
    padding: 5px;
    margin-left: 75px;
    transition-property: background;
    transition-duration: 0.2s;
}

#submit:hover{
    background-color: green;
    color:#EEEEEE
}